<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.api.gorest.tests.CreateUserTest"/>
      <class name="com.qa.api.gorest.tests.GetPostCallWithComplexJason"/>
      <class name="com.qa.api.gorest.tests.GetUserTest"/>
      <class name="com.qa.api.gorest.tests.UpdateUserTest"/>
      <class name="com.qa.api.imgur.tests.PostImgurAPITest"/>
      <class name="com.qa.api.imgur.tests.GetImgurAPITest"/>
      <class name="com.qa.api.gorest.tests.DeleteUserTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
